.icon-lg{
    border-radius: 50%;
    width: 66px;
    display: inline-flex;
    height: 66px;
    align-items: center;
    justify-content: center;
border: 1px solid #fff;
    .fal,  .far{
        font-size: 30px;
    color: #fff;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    }
}
.count{
    color:#fff;
    font-size: 40px;
}
.card-body{
    border-radius: 6px;
}

.invoice-card-row > div:nth-child(1) .invoice-card:after ,.invoice-card-row > div:nth-child(2) .invoice-card:after  ,.invoice-card-row > div:nth-child(3) .invoice-card:after ,.invoice-card-row > div:nth-child(4) .invoice-card:after  {
    height: 120px;
    width: 120px;
    transform: rotate(
40deg
);
top: -20px;
right: -20px;
    border-radius: 1.75rem;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.invoice-card-row .invoice-card:after {
    position: absolute;
    content: "";
}