.profile-dropdown {
     display:block
}
.navbar > .container, .navbar > .container-fluid {
    display: block;}
    .left-side-menu-condensed .user-profile .pro-user-name, .left-side-menu-condensed .user-profile .pro-user-desc {
        display: block;
    }
    .user-profile .pro-user-name {
        color: #4B4B5A;
        font-weight: 500;
    }
    .nav-user img {
        height: 36px;
        width: 36px;
    }