<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="row">
            <div class="col-md-12">
              <h5 class="header-title m-0">Task Feed</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p><i class="fal fa-calendar-alt text-muted font-16"></i> 13 Jun 2021</p>
          <div class="row  border-bottom p-1">
            <div class="col-lg-12 p-2  ">
              <div class="avatar-sm float-left mr-2"><span
                  class="avatar-title rounded-circle bg-soft-primary text-primary">01</span>
              </div>
              <ul class="list-inline font-13 mt-1">
                <li class="list-inline-item mr-2">
                  Draft the new contract document for sales team
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2" style="color: #ff427c !important;">
                  Loglattice
                </li>
                <li class="list-inline-item mr-2">
                  is
                </li>
                <li class="list-inline-item">
                  <span class="badge p-1 badge-soft-success">Done</span>
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2">
                  <i class="fal fa-clock text-muted font-16 "></i>
                  1 hours.
                </li>
              </ul>
            </div>
            <div class="col-lg-12 p-2  ">
              <div class="avatar-sm float-left mr-2"><span
                  class="avatar-title rounded-circle bg-soft-info text-info">02</span>
              </div>
              <ul class="list-inline font-13 mt-1">
                <li class="list-inline-item mr-2">
                  UI/UX - Application Form HTML
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2" style="color: #ff427c !important;">
                  Pan Corp
                <li class="list-inline-item mr-2">
                  is
                </li>
                <li class="list-inline-item">
                  <span class="badge p-1 badge-soft-success">Done</span>
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2">
                  <i class="fal fa-clock text-muted font-16 "></i>
                  7 hours.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p><i class="fal fa-calendar-alt text-muted  font-16"></i> 12 Jun 2021</p>
          <div class="row  border-bottom p-1">
            <div class="col-lg-12 p-2  ">
              <div class="avatar-sm float-left mr-2"><span
                  class="avatar-title rounded-circle bg-soft-warning text-warning">01</span>
              </div>
              <ul class="list-inline font-13 mt-1">
                <li class="list-inline-item mr-2">
                  Task management page design
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2" style="color: #ff427c !important;">
                  Loglattice
                </li>
                <li class="list-inline-item mr-2">
                  is
                </li>
                <li class="list-inline-item">
                  <span class="badge p-1 badge-soft-success">Done</span>
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2">
                  <i class="fal fa-clock text-muted font-16 "></i>
                  15 hours.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p><i class="fal fa-calendar-alt text-muted  font-16"></i> 11 Jun 2021</p>
          <div class="row  border-bottom p-1">
            <div class="col-lg-12 p-2  ">
              <div class="avatar-sm float-left mr-2"><span
                  class="avatar-title rounded-circle bg-soft-success text-success">01</span>
              </div>
              <ul class="list-inline font-13 mt-1">
                <li class="list-inline-item mr-2">
                 Add new pr
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2" style="color: #ff427c !important;">
                  Codelattice
                </li>
                <li class="list-inline-item mr-2">
                  is
                </li>
                <li class="list-inline-item">
                  <span class="badge p-1 badge-soft-success">Done</span>
                </li>
                <li class="list-inline-item mr-2">
                  in
                </li>
                <li class="list-inline-item mr-2">
                  <i class="fal fa-clock text-muted font-16 "></i>
                  3 hours.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>