<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="card">
          <div class="card-body p-0">


            <div class="row">
              <div class="col-md-6 p-5">
                
                <!-- <div class="preloader" [hidden]='!display'>
                  <div class="status">
                      <div class="spinner-border avatar-sm text-primary m-2" role="status"></div>
                  </div>
                </div> -->

                <div class="mx-auto mb-5 text-center">
                  <a routerLink="/">
                    <img src="assets/images/logo-new.png" alt="" height="64"  />
                   
                  </a>
                </div>

                <!-- <h6 class="h5 m-0 ">Welcome back!</h6>
                <p class="text-muted mt-1 mb-4"> Please login to your account.</p> -->

                <form class="authentication-form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                  novalidate>

                  <!-- <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert> -->

                  <div class="form-group">
                    <label class="form-control-label">Email Address</label>
                    <div class="input-group input-group-merge">
                      
                      <input type="email" class="form-control" formControlName="email" id="email"
                        placeholder="hello@coderthemes.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mt-4">
                    <label class="form-control-label">Password</label>
                    <div class="input-group input-group-merge">
                      
                      <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
                        placeholder="Enter your password" required />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-4">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                      <label class="custom-control-label" for="checkbox-signin">Remember
                        me</label>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit"> Log In
                    </button>
                  </div>
                </form>
               
              </div>
              <div class="col-lg-6 d-none d-md-inline-block p-0">
                <div class="auth-page-sidebar">
                  <div class="overlay"></div>
                  <div class="auth-user-testimonial">
                    <!-- <p class="font-size-24 font-weight-bold text-white mb-1">I simply love it!</p>
                    <p class="lead">"It's a elegent templete. I love it very much!"</p>
                    <p>- Admin User</p> -->
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

      
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
